body {
  background: rgb(160, 96, 169) url(../img/bg.jpg) center/cover;
  font-size: 12px;
}
/* Main och timer divs */
#main-container {
  margin: auto;
  width: 40em;
  height: 40em;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaaaaa,
    1px 1px 2px #555555;
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem;
  margin-top: 4rem;
}

.timerContainer {
  border-bottom: 1px solid #f2f2f299;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  margin-top: 2rem;
  padding: 0 0.5rem;
}

label {
  font-family: 'Roboto', sans-serif;
  color: #162948e2;
  font-size: 1.7rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

/* ------------------------------------------- */

/* Main clock */
.clock {
  color: #25447be2;
  font-size: 4rem;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.25rem;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem 1rem 0rem 0rem;
}

/* ------------------------------------------- */

/* Start Time */
#timePick {
  border-radius: 0.5rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7e2;
  color: #324c7f;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
}

.clockStart {
  color: #37fe21cb;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.25rem;
}

/* ------------------------------------------- */

/* Break time */
#breakTimeInput {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7e2;
  color: #324c7f;
  font-size: 1.5rem;
  margin-right: 0.3rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: 3rem;
}
::placeholder {
  color: #10394a95;
}

#cta-paus,
.cta-Btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 1rem;
  text-align: center;
  background-color: #a1205ae2;
  color: #d9edf6;
  cursor: pointer;
}

#cta-paus:hover {
  background-color: #d74788e2;
}

.clockDown {
  color: #e83f30d6;
  font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.25rem;
  margin-left: 20px;
}

/* ------------------------------------------- */

/* Add timers */
.title {
  color: #48dafb;
  font-size: 20px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 7px;
  margin-top: 20px;
  margin-bottom: 1px;
}
li {
  list-style: none;
}
#timers {
  border-bottom: 1px solid #8ee3f6;
}
.timerdiv {
  display: flex;
  justify-content: center;
}

.listTitle {
  width: 100px;
  text-align: center;
  margin-right: 5px;
  height: 24px;
  border: var(--border) solid var(--color);
  border-radius: 0px 5px 5px 0px;
}
.timePickList {
  border: var(--border) solid var(--color);
  border-radius: 5px 0px 0px 5px;
  color: #222;
  font-size: 12px;
  height: 24px;
  border-right: 1px solid gray;
  padding-left: 5px;
}
.listTimer {
  color: #f3f940;
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 4px;
  margin-left: 20px;
}
.ctaButtonsDiv {
  padding-top: 2px;
}
#cta-Start {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  width: 70px;
  border: none;
  border-radius: 5px;
  height: 25px;
  text-align: center;
  background-color: rgb(74, 153, 68);
  color: whitesmoke;
  cursor: pointer;
}

#cta-add {
  margin-top: 5px;
  width: 90px;
  border: none;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  background-color: #fbc443e9;
  color: whitesmoke;
  cursor: pointer;
}
#cta-clear {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  background-color: rgb(153, 79, 68);
  color: whitesmoke;
  cursor: pointer;
}

#cta-Del {
  font-size: 22px;
  border: none;
  margin-left: 10px;
  padding-bottom: 1px;
  background: none;
  color: whitesmoke;
  cursor: pointer;
}

/* ------------------------------------------- */

/* Mobile */

@media only screen and (max-width: 375px) {
  #main-container {
    margin: auto;
    width: 95vw;
    margin-top: 0.7rem;
  }

  label {
    font-size: 1.4rem;
  }
  .clock {
    font-size: 3.3rem;
    padding: 1rem;
  }

  /* Start Time */
  .clockStart,
  .clockDown {
    font-size: 2.3rem;
  }

  #timePick,
  #breakTimeInput {
    font-size: 1.1rem;
    padding: 0.5rem 0.6rem;
  }
  ::placeholder {
  }

  #cta-paus,
  .cta-Btn {
    font-size: 1.2rem;
    padding: 0.5rem 0.6rem;
  }
}
